<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<!--<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>-->
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div style="background-color: white;" class="navbar navbar-expand-lg">
        <h1 style="color: black;">비밀번호 찾기</h1>
    </div>
    <form class="card" action="/members/sendPassword" method="post">
        <div class="card-header" style="padding: 10px">
            <div><label for="userEmail" style="margin: 5px">입력한 이메일로 임시 비밀번호가 전송됩니다.</label></div>
            <div><input type="email" class="form-control" name="userEmail" id="userEmail"
                        placeholder="userEmail@gmail.com" style="margin: 5px"></div>
            <div>
                <button type="button" class="btn btn-primary" id="checkEmail" style="margin: 5px">비밀번호 전송</button>
            </div>
        </div>
    </form>
</div>
</body>
<script type="text/javascript">
const header = $("meta[name='_csrf_header']").attr('content');
const token = $("meta[name='_csrf']").attr('content');

if(header != null && token != null){

console.log("header :" + header);
console.log("token :" + token);

$('#checkEmail').on('click', function(){
    checkEmail();
});

}else {

console.log("header : null");
console.log("token : null");
}

function checkEmail(){
    const userEmail = $('#userEmail').val();

    if(!userEmail || userEmail.trim() === ""){
        alert("이메일을 입력하세요.");
    } else {
        $.ajax({
            type: 'GET',
            url: '/members/checkEmail',
            data: {
                'userEmail': userEmail
            },
            dataType: "text",
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            }
        }).done(function(result){
            console.log("result :" + result);
            if (result == true) {
                sendEmail();
                alert('임시비밀번호를 전송 했습니다.');
            } else if (result == "false") {
            console.log("result :" + result);
                alert('가입되지 않은 이메일입니다.');
            }
        }).fail(function(error){
            alert(JSON.stringify(error));
        })
    }
};

function sendEmail(){
    const userEmail = $('#userEmail').val();

    $.ajax({
        type: 'POST',
        url: '/members/sendPassword',
        data: {
            'userEmail' : userEmail
        },
        beforeSend: function(xhr){
            xhr.setRequestHeader(header, token);
        },
        error: function(error){
            alert(JSON.stringify(error));
        }
    })
}

</script>
</html>