<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
.fieldError {
border-color: #bd2130;
}
 $(document).ready(function() {
        let message = "[[${msg}]]";
        if (message != "") {
            alert(message);
        }else {
        }
    })

a:link {
  color : pink;
}
a:visited {
  color : black;
}
a:hover {
  color : red;
}
a:active {
  color : green
}


</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div style="background-color: white;" class="navbar navbar-expand-lg">
        <h1 style="color: black;">로그인</h1>
    </div>
    <form class="px-4 py-3" action="/members/login" th:object="${loginForm}" method="post">
        <div class="mb-3">
            <label for="exampleDropdownFormEmail1" class="form-label">이메일 주소</label>
            <input type="email" th:field="*{email}" class="form-control" id="exampleDropdownFormEmail1"
                   placeholder="email@example.com">
            <p style="color:red;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</p>
        </div>
        <div class="mb-3">
            <label for="exampleDropdownFormPassword1" class="form-label">비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control" id="exampleDropdownFormPassword1"
                   placeholder="비밀번호">
            <p style="color:red;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect
                password</p>
        </div>
        <div class="col-12" th:if="${#fields.hasGlobalErrors()}">
            <p style="color:red;" class="field-error" th:each="erorr : ${#fields.globalErrors()}" th:text="${erorr}">전체
                오류 메시지</p>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck" name="autoLogin">
                <label class="form-check-label" for="dropdownCheck">
                    로그인 상태 유지
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
    <div class="navbar navbar-expand-lg">
        <a style="text-decoration-line: none; padding: 0px 10px 0px 0px;" class="item col-auto" href="#">비밀번호 찾기 </a>
        <a style="text-decoration-line: none; padding: 0px 10px 0px 0px;" class="item col-auto" href="#">아이디 찾기 </a>
        <a style="text-decoration-line: none; padding: 0px 10px 0px 0px;" class="item col-auto" href="/members/Join">회원
            가입</a>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        /* <![CDATA[ */
        window.onload = () => {
          const message = [[ ${memberJoinSuccess} ]];
          if (message) {
            alert(message);
          }
        }
        /* ]]> */

    </script>
</th:block>
</body>
</html>