<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
.fieldError {
border-color: #bd2130;
}
 $(document).ready(function() {
        let message = "[[${msg}]]";
        if (message != "") {
            alert(message);
        }else {
        }
    })

a:link {
  color : pink;
}
a:visited {
  color : black;
}
a:hover {
  color : red;
}
a:active {
  color : green
}


</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div style="background-color: white;" class="navbar navbar-expand-lg">
        <h1 style="color: black;">비밀번호 변경</h1>
    </div>
    <form class="px-4 py-3" th:action="@{/members/passwordUpdate/{id}(id = ${memberId})}" th:object="${passwordUpdateForm}" method="post">
        <div class="mb-3">
            <label for="nowPassword" class="form-label">현재 비밀번호</label>
            <input type="password" th:field="*{nowPassword}" class="form-control" id="nowPassword"
                   placeholder="현재 비밀번호">
            <p style="color:red;" th:if="${#fields.hasErrors('nowPassword')}" th:errors="*{nowPassword}">Incorrect email</p>
        </div>
        <div class="mb-3">
            <label for="updatePassword" class="form-label">변경 비밀번호</label>
            <input type="password" th:field="*{updatePassword}" class="form-control" id="updatePassword"
                   placeholder="변경 비밀번호">
            <p style="color:red;" th:if="${#fields.hasErrors('updatePassword')}" th:errors="*{updatePassword}">Incorrect
                password</p>
        </div>
        <div class="mb-3">
            <label for="updatePasswordConfirm" class="form-label">변경 비밀번호 확인</label>
            <input type="password" th:field="*{updatePasswordConfirm}" class="form-control" id="updatePasswordConfirm"
                   placeholder="변경 비밀번호 확인">
            <p style="color:red;" th:if="${#fields.hasErrors('updatePasswordConfirm')}" th:errors="*{updatePasswordConfirm}">Incorrect
                password</p>
        </div>
        <div class="col-12" th:if="${#fields.hasGlobalErrors()}">
            <p style="color:red;" class="field-error" th:each="erorr : ${#fields.globalErrors()}" th:text="${erorr}">전체
                오류 메시지</p>
        </div>
        <button type="submit" class="btn btn-primary">비밀번호 변경</button>
    </form>
</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        /* <![CDATA[ */
        window.onload = () => {
          const message = [[ ${memberJoinSuccess} ]];
          if (message) {
            alert(message);
          }
        }
        /* ]]> */

    </script>
</th:block>
</body>
</html>