<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div style="background-color: white;" class="navbar navbar-expand-lg">
        <h1 style="color: black;">게시글 보기</h1>
    </div>

    <form class="card" action="/boards/write" th:object="${board}" method="post" style="margin: 0px 0px 10px 0px">
        <div class="card-header d-flex justify-content-between">
            <label th:text="'번호: ' + *{boardId}" class="form-label"></label>
            <label th:text="'작성일: ' + *{createdDate}" class="form-label"></label>
        </div>
        <div class="card-header d-flex justify-content-between">
            <label th:text="'작성자: ' + *{writer}" class="form-label"></label>
        </div>
        <div class="card-body">
            <label for="boardWriteTitle">제목</label>
            <input type="text" th:field="*{title}" class="form-control" id="boardWriteTitle" readonly>
            <br/>
            <label for="boardWriteContent">내용</label>
            <textarea rows="5" type="text" th:field="*{content}" class="form-control" id="boardWriteContent"
                      readonly></textarea>
        </div>
    </form>

    <div th:object="${board}">
        <a th:if="${board.member.memberId} == ${session.memberId}" th:href="@{/boards/update/{id}(id = ${board.boardId})}"
           role="button" class="btn btn-primary bi bi-pencil-square">수정</a>
        <a th:if="${board.member.memberId} == ${session.memberId}" th:href="@{/boards/delete/{id}(id = ${board.boardId})}"
           role="button" class="btn btn-danger bi bi-trash">삭제</a>
    </div>

    <div class="card" style="background-color:#ffe4c4; margin: 10px 0px 0px 0px; padding: 0px 10px 10px 0px;">
        <table style="margin: 10px">
            <thead class="card-header">
            <tr>
                <td><h5 style="text-color: black; margin: 10px 0px 0px 0px;"
                        th:text="'댓글'+' '+${#lists.size(commentList)}"></h5></td>
            </tr>
            </thead>

            <tbody th:each="comment : ${commentList}" style="margin: 10px">
            <tr>
                <td>
                    <div th:text="${comment.writer}+' | '+${comment.createdDate}" class="ms-1 me-auto"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="${comment.content}" class="ms-1 me-auto"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <!--<a th:if="${comment.member.memberId} == ${session.memberId}"
                       th:href="@{/comments/update/{id}(id = ${comment.id})}"
                       role="button" class="btn btn-primary bi bi-pencil-square">수정</a>-->
                    <a th:if="${comment.member.memberId} == ${session.memberId}"
                       class="btn btn-primary" data-bs-toggle="collapse"
                       th:href="@{#commentUpdateForm{commentId}(commentId = ${comment.id})}" role="button"
                       aria-expanded="false" th:aria-controls="commentUpdateForm+${comment.id}">수정</a>
                    <a th:if="${comment.member.memberId} == ${session.memberId}"
                       th:href="@{/comments/delete/{commentId}/{boardId}(commentId = ${comment.id}, boardId = ${board.boardId})}"
                       role="button" class="btn btn-danger bi bi-trash">삭제</a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="collapse" th:id="commentUpdateForm+${comment.id}">
                        <div class="card card-body">
                            <form th:if="${session.memberId} != null" th:object="${CommentForm}"
                                  th:action="@{/comments/update/{commentId}(commentId = ${comment.id})}"
                                  method="post" name="commentUpdateForm">
                                <input type="hidden" th:value="${board.boardId}" th:name="boardId"/>
                                <label th:value="${session.memberName}" th:text="'닉네임: ' + ${session.memberName}"
                                       for="commentUpdateContent"></label>
                                <textarea type="text" th:field="*{content}" th:text="${comment.content}"
                                          th:placeholder="${comment.content}" class="form-control"
                                          name="commentUpdateContent" id="commentUpdateContent"></textarea>
                                <button onclick="commentCheck()" class="btn btn-primary">댓글 수정</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <hr>
                </td>
            </tr>
            </tbody>
        </table>

        <form th:if="${session.memberId} != null" class="px-4 py-3" action="/comments/write"
              th:object="${CommentForm}" method="post" name="commentWriteForm">
            <div class="mb-3">
                <input type="hidden" th:value="${board.boardId}" th:name="boardId"/>
                <label th:value="${session.memberName}" th:text="'닉네임: ' + ${session.memberName}"
                       for="commentWriteContent"></label>
                <textarea type="text" th:field="*{content}" placeholder="댓글을 적어주세요." class="form-control"
                          name="commentWriteContent" id="commentWriteContent"></textarea>
            </div>
            <button class="btn btn-primary" onclick="commentCheck()">등록</button>
        </form>
    </div>
</div>
</body>

<script type="text/javascript">
function commentCheck(){

var content = document.getElementById('commentWriteContent');
var content_update = document.getElementById('commentUpdateContent');

    if(content.value == ""){
        alert("내용을 입력하세요.")
        comment.commentWriteContent.focus();
        return false;
    }

    if(content_update.value == ""){
        alert("내용을 입력하세요.")
        comment.commentUpdateContent.focus();
        return false;
    }
    comment.submit();
}
</script>
</html>