<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <br>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">홈</a>
                    </li>
                    <li class="nav-item">
                        <a th:if="${session.memberId == null and session.AutoLogin == null}" href="/members/login"
                           class="nav-link">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a th:if="${session.memberId != null or session.AutoLogin != null}"
                           th:href="@{/members/myInfo/{id}(id = ${session.memberId})}" class="nav-link">내 정보</a>
                    </li>
                    <li class="nav-item">
                        <a th:if="${session.memberId != null or session.AutoLogin != null}"
                           th:href="@{/boards/write/{id}(id = ${session.memberId})}" class="nav-link">게시글 쓰기</a>
                    </li>
                    <!--<div class="col-auto">
                        <button th:if="${AutoLogin == null}" type="button" class="btn btn-primary">구글 로그인</button>
                    </div>
                    <div class="col-auto">
                        <button th:if="${AutoLogin == null}" type="button" class="btn btn-primary">카카오 로그인</button>
                    </div>-->
                </ul>
                <form class="d-flex" role="search" action="/search/Board">
                    <select style="margin: .0em .5em;" class="btn btn-outline-dark" id="searchTitle"
                            name="searchTitle">
                        <option value="전체" th:selected="${searchTitle} == '전체'">전체</option>
                        <option value="작성자" th:selected="${searchTitle} == '작성자'">작성자</option>
                        <option value="제목" th:selected="${searchTitle} == '제목'">제목</option>
                        <option value="내용" th:selected="${searchTitle} == '내용'">내용</option>
                    </select>
                    <input th:value="${searchData}" name="searchData" class="form-control me-2" type="search"
                           placeholder="검색어 입력" aria-label="Search">
                    <button style="white-space:nowrap;" class="btn btn-outline-success" type="submit">검색</button>
                </form>
            </div>
        </div>
    </nav>
    <br><br>
</div>